<div class="container" style="display:grid; align-items:center;">

    <div><h1>The Address Book</h1></div>
    <div><p>Built by Kyle Reiley for Wikilane Inc. </p></div>
    <div><%= render 'sessions/home' %></div>
</div>
