<div class="address-<%= address.id %>" style="display:grid; align-items:center; grid-template-columns:auto max-content; grid-row-gap: 3px;">
       
    <%= address.street%>
<div class="btn-group" style="font-size:15px; grid-row-start:span 2;">
      <%= button_to "", [person,address], class:"btn-close", method: :delete %>
    </div>
    <p style="font-size:18px; font-weight:100;"><%= address.town + ', ' + address.state + ' ' + address.country + ' ' + address.zip_code %></p>
</div>
